 {{> dealerheader dealer=dealer}}
 
 <main class="purple-main">
      <div class="pbubble pb1"></div><div class="pbubble pb2"></div>
      <div class="pbubble pb3"></div><div class="pbubble pb4"></div><div class="pbubble pb5"></div>
      <div style="position:relative;z-index:2;width:100%;max-width:700px;">
 
        <div class="video-select-box mb-3" >
       <p>Thank you for participating,
        we will share printed picture at earliest.</p>
        </div>

      </div>
    </main>


      {{> dealerfooter}}