 {{> dealerheader dealer=dealer}}
 
 <main
        class="purple-main"
        style="align-items: flex-start; padding-top: 32px"
      >
        <div class="pbubble pb1"></div>
        <div class="pbubble pb2"></div>
        <div class="pbubble pb3"></div>
        <div style="position: relative; z-index: 2; width: 100%">
          <div class="row g-3">
            <div class="col-4">
              <div class="pic-radio-wrap">
                <label class="pic-box" for="pic1">Uploaded Pic 1</label>
              </div>
            </div>
            <div class="col-4">
              <div class="pic-radio-wrap">
                <label class="pic-box" for="pic2">Uploaded Pic 2</label>
              </div>
            </div>
            <div class="col-4">
              <div class="pic-radio-wrap">
                <label class="pic-box" for="pic3">Uploaded Pic 3</label>
              </div>
            </div>
          </div>
          <div class="row g-3 mt-3">
            <div class="col-6 col-md-3">
              <label class="upload-box w-100">
                <input type="file" accept="image/*" class="d-none" />
                <span>Upload Pic 1</span>
              </label>
            </div>
            <div class="col-6 col-md-3">
              <label class="upload-box w-100">
                <input type="file" accept="image/*" class="d-none" />
                <span>Upload Pic 2</span>
              </label>
            </div>
            <div class="col-6 col-md-3">
              <label class="upload-box w-100">
                <input type="file" accept="image/*" class="d-none" />
                <span>Upload Pic 3</span>
              </label>
            </div>
            <div class="col-6 col-md-3">
              <label class="upload-box w-100">
                <input type="file" accept="image/*" class="d-none" />
                <span>Upload Pic 4</span>
              </label>
            </div>
            <div class="col-12 col-md-12 justify-content-center">
              <select class="region-select mt-3">
                <option value="">Select Language of Cutout</option>
                <option>HINDI</option>
                <option>ENGLISH</option>
                <option>ODISHA</option>
              </select>
            </div>
          </div>
          <div class="text-center mt-4">
            <a
              href="#"
              class="btn btn-login px-5 me-3"
              style="
                border-radius: 50px;
                display: inline-block;
                text-decoration: none;
              "
            >
              Re-Listen
            </a>
            <a
              href="/final-pic"
              class="btn btn-login px-5"
              style="
                border-radius: 50px;
                display: inline-block;
                text-decoration: none;
              "
            >
              Process Image
            </a>
          </div>
        </div>
      </main>


      {{> dealerfooter}}