
<!-- Upload Excel Modal -->

<div
  class="modal fade"
  id="uploadExcelModal"
  tabindex="-1"
>

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title">
          Upload Dealer Excel
        </h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>

      </div>

      <form
      id="uploadExcelForm"
        action="/admin/upload-dealers"
        method="POST"
        enctype="multipart/form-data"
      >

        <div class="modal-body">

          <input
            type="file"
            name="file"
            class="form-control"
            accept=".xlsx,.xls"
            required
          />

        </div>

        <div class="modal-footer">

          <button
          id="uploadExcelBtn"
            type="submit"
            class="btn btn-login"
          >
            Upload Excel
          </button>

        </div>

      </form>

    </div>

  </div>

</div>

</div>

<script>
  async function confirmLogout(event) {
    event.preventDefault();

    const confirmAction = confirm("Are you sure you want to logout?");

    if (confirmAction) {
      try {

        window.location.href = "/admin/adminlogout";
        {{!-- const res = await fetch("/adminlogout", {
          method: "POST",
          credentials: "include"
        }); --}}

        {{!-- const data = await res.json(); --}}

        {{!-- if (data.success) {
          // ✅ Redirect to login page
          window.location.href = "/login";
        } else {
          alert("Logout failed");
        } --}}

      } catch (err) {
        console.error("Logout failed", err);
      }
    }
  }
</script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
  <script src="../assets/js/dashboard.js"></script>

{{!-- //for dropdown of action tab in delaer list page --}}
<script>
  function handleDealerAction(action, dealerId) {
    if (!action) return;

    switch(action) {
      case "details":
        window.location.href = `/admin/dealerdetail/${dealerId}`;
        break;

      case "images":
        window.location.href = `/admin/dealer-images/${dealerId}`;
        break;

      case "edit":
        window.location.href = `/admin/edit-dealer/${dealerId}`;
        break;

      default:
        break;
    }
  }
</script>


{{!-- for table paginatipon --}}

{{!-- <script>
  $(document).ready(function () {
    $('#dataTable').DataTable({
      paging: true,
      searching: true,
      ordering: true,
      pageLength: 10
    });

      // Pic Uploaded filter
    $('#picUploadedFilter').on(
      'change',
      function () {

        const value = $(this).val();

        // column index of Pic Uploaded
        table.column(4).search(value).draw();
      }
    );

  });
</script> --}}

<script>
  $(document).ready(function () {

    const table = $('#dataTable').DataTable({
      paging: true,
      searching: true,
      ordering: true,
      pageLength: 10
    });

    // custom filter
    $.fn.dataTable.ext.search.push(
      function (settings, data, dataIndex) {

        const filterValue =
          $('#picUploadedFilter').val();

        // Pic Uploaded column index = 4
        const picUploaded =
          data[4].trim();

        if (
          filterValue === "" ||
          picUploaded === filterValue
        ) {
          return true;
        }

        return false;
      }
    );

    // dropdown change
    $('#picUploadedFilter').on(
      'change',
      function () {
        table.draw();
      }
    );

  });
</script>
{{!-- for admin dashboard graph --}}

  
<script>

const chartLabels = {{{chartLabels}}};

const onboardedData = {{{onboardedData}}};

const uploadedData = {{{uploadedData}}};

const cutoutData = {{{cutoutData}}};

const ctx =
  document.getElementById("dealersChart");

new Chart(ctx, {

  type: "bar",

  data: {

    labels: chartLabels,

    datasets: [

      {
        label: "Onboarded",
        data: onboardedData,
        backgroundColor: "#90caf9",
        borderRadius: 8,
      },

      {
        label: "Uploaded",
        data: uploadedData,
        backgroundColor: "#1a5276",
        borderRadius: 8,
      },

      {
  label: "Cutouts",
  data: cutoutData,
  backgroundColor: "#fbc02d",
  borderRadius: 8,
},
    ],
  },

  options: {

    responsive: true,

    plugins: {

      legend: {
        display: true,
      },
    },

    scales: {

      y: {
        beginAtZero: true,
      },
    },
  },
});
</script>

{{!-- filter button script --}}
<script>

document
  .getElementById("filterBtn")
  .addEventListener("click", () => {

    const state =
      document.getElementById("stateFilter").value;

    const params = new URLSearchParams();

    if (state) {
      params.append("state", state);
    }

    window.location.href =
      `/admin/dashboard?${params.toString()}`;
  });

</script>


{{!-- uplaod button in exel upload --}}
<script>
  document
    .getElementById("uploadExcelForm")
    .addEventListener("submit", function () {

      const btn =
        document.getElementById(
          "uploadExcelBtn"
        );

      btn.disabled = true;
      btn.innerHTML = `
        <span
          class="spinner-border spinner-border-sm me-2"
          role="status"
        ></span>
        Processing...
      `;
    });
</script>

{{!-- image approve and reject button processing --}}
<script>

  // Submit Selected Image
  document
    .getElementById("submitImageForm")
    .addEventListener(
      "submit",
      function () {

        const btn =
          document.getElementById(
            "submitImageBtn"
          );

        btn.disabled = true;

        btn.innerHTML = `
          <span
            class="spinner-border spinner-border-sm me-2"
          ></span>
          Processing...
        `;
      }
    );

  // Reject All Images
  document
    .getElementById("rejectForm")
    .addEventListener(
      "submit",
      function () {

        const btn =
          document.getElementById(
            "rejectBtn"
          );

        btn.disabled = true;

        btn.innerHTML = `
          <span
            class="spinner-border spinner-border-sm me-2"
          ></span>
          Processing...
        `;
      }
    );

</script>

</body>
</html>