{{> header admin=admin }}
{{> sidebar }}
<main class="purple-main" style="align-items:flex-start; padding-top:32px;">
  <div class="pbubble pb1"></div>
  <div class="pbubble pb2"></div>
  <div class="pbubble pb3"></div>
  <div style="position:relative;z-index:2;width:100%;">
    <div class="table-scroll-wrap">
      <table class="dealer-table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Dealer Name</th>
            <th>Region</th>
            <th>Pic Uploaded</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Ram</td>
            <td>North</td>
            <td><span style="color:#2e7d32;font-weight:600;">Yes</span></td>
            <td><a href="dealer-detail.html" class="view-link">View</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Shyam</td>
            <td>North</td>
            <td><span style="color:#c62828;font-weight:600;">No</span></td>
            <td><a href="dealer-detail.html" class="view-link">View</a></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Ghanshyam</td>
            <td>South</td>
            <td><span style="color:#2e7d32;font-weight:600;">Yes</span></td>
            <td><a href="dealer-detail.html" class="view-link">View</a></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Mohan</td>
            <td>East</td>
            <td><span style="color:#c62828;font-weight:600;">No</span></td>
            <td><a href="dealer-detail.html" class="view-link">View</a></td>
          </tr>
          <tr>
            <td>5</td>
            <td>Sohan</td>
            <td>West</td>
            <td><span style="color:#2e7d32;font-weight:600;">Yes</span></td>
            <td><a href="dealer-detail.html" class="view-link">View</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
{{> footer }}